@import "./../../model/lib.less";

.home {
    text-align: center;

    h1 {
        font-size: 3rem;
        width: 80%;
        margin: 2rem auto;
        text-shadow: 4px 4px 6px darken(@background-color-dark, 5%);
    }

    .category-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // Define 3 columns
        grid-auto-rows: auto; // Let rows adjust to content height
        gap: 16px; // Space between grid items
        justify-content: center;
        max-width: 800px;
        width: 90%;
        margin: 0 auto;

        .category:nth-child(1) {
            grid-column: span 3; // First item spans all 3 columns
        }

        .category:nth-child(2) {
            background-size: cover;
            grid-column: span 1; // Second item starts a new row
        }

        .category:nth-child(3) {
            background-size: cover;
            grid-column: span 1;
        }

        .category:nth-child(4) {
            background-size: cover;
            grid-column: span 1;
        }

        .category:nth-child(5) {
            background-size: cover;
            grid-column: span 1;
        }

        .category:nth-child(6) {
            background-size: cover;
            grid-column: span 1;
        }

        .category:nth-child(7) {
            background-size: cover;
            grid-column: span 1;
        }

        .category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: @card-background;
            border-radius: 8px;
            box-shadow: 0 4px 8px darken(@background-color-dark, 5%);
            padding: 32px;
            text-align: center;
            transition: transform 0.2s, box-shadow 0.2s;
            min-height: 150px;
            text-decoration: none;

            h2 {
                font-size: 2rem;
                color: @text-color-dark;
                /* color: lighten(@text-color-dark, 30%); */
                margin: 0;
                /* text-shadow: 4px 4px 6px darken(@background-color-dark, 50%); */
            }

            &:hover {
                box-shadow: 0 0px 16px darken(@background-color-dark, 10%);
                transform: scale(1.05);
            }
        }

        @media (max-width: 750px) {
            grid-template-columns: 1fr; // One column layout
            .category:nth-child(1) {
                grid-column: span 1; // First item takes full width in single column
            }

            .category:nth-child(2),
            .category:nth-child(3),
            .category:nth-child(4),
            .category:nth-child(5),
            .category:nth-child(6),
            .category:nth-child(7) {
                grid-column: span 1; // All categories take full width in a column
            }
        }
    }

    @media (max-width: 520px) {
        h1 {
            font-size: 2rem;
        }
    }

    @media (max-width: 370px) {
        h1 {
            font-size: 1.5rem;
        }
    }

}