@import "./../../model/lib.less";

.account-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: lighten(@background-color-dark, 10%);
    color: @text-color-dark;

    .line {

        width: 80%;
        height: 1px;
        background-color: fade(@text-color-dark, 30%);
        margin: 1.5rem auto;
        margin-top: 3rem;
        position: relative;
    }

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: @header-color;
    }

    .name-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 20px;
        gap: 20px;

        .material-symbols-outlined {
            font-size: 48px;
            font-variation-settings:
                'FILL' 1,
        }
    }

    #name {
        font-size: 1.5rem;
    }

    .data-container {
        margin-left: 3rem;
    }

    .data {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        font-size: 1.2rem;

        p {
            margin: 4px 0;
        }

        .password-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            #password {
                animation: fadeIn ease 1s forwards;
            }
    
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
    
                100% {
                    opacity: 1;
                }
            }

        }
    }

    #recipeNum {
        font-size: 1.1rem;
    }

    @media (max-width: 768px) {
        padding: 1rem;

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}